@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

.flatTable {
	  font-family: Lato;
	margin-left:140px;
	margin-top: 200px;
  width: 80%;
  min-width: 500px;
  border-collapse: collapse;
  font-weight: bold;
  color: #6b6b6b;
}
.flatTable tr {
  height: 100px;
  background: #d4d1d5;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}
.flatTable td {
  box-sizing: border-box;
  padding-left: 30px;
}
.flatTable .titleTr {
  height: 70px;
  color: #f6f3f7;
  background: #418a95;
  border: 0px solid;
}

.flatTable .headingTr {
  height: 30px;
  background: #999;
  color: #f6f3f7;
  font-size: 12pt;
  border: 0px solid;
}

 .timer{
text-align: center;
margin: 80px 10px 0 0;
padding: 0 0 10px;
}
.timer .table-cell{
display: inline-block;
margin: 0 5px;
width: 79px;
}
.timer .table-cell .tab-val{
font-size: 35px;
color: #000;
height: 81px;
line-height: 81px;
margin: 0 0 5px;
}
.timer .table-cell .tab-unit{
font-family: Arial, serif;
font-size: 12px;
text-transform: uppercase;
}
#simple_timer.timer .table-cell.day,
#periodic_timer_days.timer .table-cell.hour{
width: 120px;
}
 